body {
    background-color: rgb(223, 204, 175);
}

.container {
    display: block;
    min-width: 300px;
    max-width: 1400px;
    margin: 0 auto;
}


.headName {
    text-align: center;
    border: 1px solid black;
    border-radius: 36px;
    background-color: bisque;

}

.list {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 1px solid black;
    border-radius: 14px;
    padding: 11px 29px;
    background-color: bisque;

}
.newLi{
    display: flex;
}
img{
    width: 15px;
    height: auto;
}



.addBtn {
display: block;
cursor: pointer;
}




li button {
    display: none;
}

li.completed button {
    display: flex;
}

.crlearBtn{
    align-items: center;
    border: none;
    background: none;
    cursor:pointer
    }

li.completed  {
    text-decoration: line-through;
}

.backdrop {
    position: fixed;
    background-color: rgba(28, 28, 28, 0.606);
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: bisque;
    padding: 20px;
    border-radius: 5px;
}

.hidden {
    display: none;
}